@import "../bootstrap.scss";


.advantages__container {
  min-height: 205px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 32px 18px 16px;

  @media (min-width: $tablet-param) {
    padding: 48px 0 55px;
  }

  @media (min-width: $dekstop-param) {
    padding-top: 59px;
    padding-bottom: 44px;
  }
}

.advantages__container-title {
  @include bold-text;
  padding-bottom: 35px;
  margin: 0;

  @media (min-width: $tablet-param) {
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    max-width: 68%;
  }

  @media (min-width: $dekstop-param) {
    max-width: 41%;
  }
}

.advantages__container-description {
  @include normal-text;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: $tablet-param) {
    max-width: 87%;
  }

  @media (min-width: $dekstop-param) {
    max-width: 41%;
  }
}

.advantages__title {
  @include bold-text;
  margin: 0;

  @media (min-width: $tablet-param) {
    font-size: 21px;
    line-height: 26px;
  }
}

.advantages__number {
  padding: 11px 0 17px;

  @media (min-width: $tablet-param) {
    padding: 22px 0 36px;
  }
}

.advantages__description {
  @include normal-text;
  text-transform: uppercase;
  margin: 0;
}

.advantages__list {
  @include reset-indents;
}

.advantages__item {
  @include list-reset;

  &--color .advantages__wrapper {
    background-color: $blue-color;
  }

  @media (min-width: $tablet-param) {
    min-height: 256px;
    width: 100%;
    height: 100%;
  }
}

.advantages__item-wrapper {
  @media (min-width: $tablet-param) {
    display: flex;
  }
}

.advantages__item--color {
  @media (min-width: $tablet-param) {
    display: flex;
  }
}

.advantages__wrapper {
  background-color: $gray-color;
  min-height: 211px;
  padding: 0 18px;
  // padding: 24px 18px 28px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: $tablet-param) {
    width: 34%;
    min-height: 256px;
    padding: 0 33px;
    // padding: 41px 33px 63px;
  }

  @media (min-width: $dekstop-param) {
    padding: 0 50px;
  }
}

.advantages__image {
  @media (min-width: $tablet-param) {
    width: 66%;
    height: 100%;
  }
}

.advantages__image img {
  display: block;
  width: 100%;

  @media (min-width: $tablet-param) {
    min-height: 256px;
    object-fit: cover;
  }
}

.advantages__item--color .advantages__title,
.advantages__item--color .advantages__number,
.advantages__item--color .advantages__description {
  color: $white-color;
}
