.advantages__container {
  min-height: 205px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 32px 18px 16px;

  @media (min-width: $tablet-param) {
    padding: 48px 0 55px;
  }

  @media (min-width: $dekstop-param) {
    padding-top: 59px;
    padding-bottom: 44px;
  }
}

.advantages__container-title {
  @include bold-text;
  padding-bottom: 29px;
  margin: 0;

  @media (min-width: $tablet-param) {
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    max-width: 520px;
  }

  @media (min-width: $dekstop-param) {
    max-width: 500px;
  }
}

.advantages__container-title br {
  @media (min-width: $tablet-param) {
    content: "";
    display: none;
  }
}

.advantages__container-description {
  @include normal-text;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: $tablet-param) {
    max-width: 520px;
  }

  @media (min-width: $dekstop-param) {
    max-width: 500px;
  }
}

.advantages__title {
  @include bold-text;
  margin: 0;

  @media (min-width: $tablet-param) {
    padding: 0 16px;
    font-size: 21px;
    line-height: 26px;
  }

  @media (min-width: $dekstop-param) {
    padding: 0 71px;
    padding-top: 34px;
  }
}

.advantages__title br {
  display: none;

  @media (min-width: $tablet-param) {
    display: block;
  }
}

.advantages__number {
  padding: 11px 0 17px;
  text-align: center;

  @media (min-width: $tablet-param) {
    padding: 0 0 5px;
  }
}

.advantages__description {
  @include normal-text;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: $dekstop-param) {
    padding-bottom: 33px;
  }
}

.advantages__description br {
  @media (min-width: $tablet-param) {
    display: none;
  }

  @media (min-width: $dekstop-param) {
    display: block;
  }
}

.advantages__list {
  @include reset-indents;

  @media (min-width: $tablet-param) {
    display: flex;
    flex-wrap: wrap;
  }
}

.advantages__item {
  @include list-reset;

  @media (min-width: $tablet-param) {
    min-height: 256px;
    width: calc(100% / 3);
    height: 100%;
  }

  &--all-str {
    @media (min-width: $tablet-param) {
      display: flex;
      width: 100%;
    }
  }

  &--all-str-reverse {
    flex-direction: row-reverse;
  }
}

.advantages__item--all-str .advantages__wrapper {
  background-color: $blue-color;

  @media (max-width: $tablet-param) {
    min-height: 191px;
  }

  @media (min-width: $tablet-param) {
    width: calc(100% / 3);
    padding: 37px 33px 17px;
  }
}

.advantages__item-wrapper {
  @media (min-width: $tablet-param) {
    display: flex;
  }
}

.advantages__item--all-str .advantages__title {
  @media (min-width: $dekstop-param) {
    padding: 0 59px;
  }
}


.advantages__item--all-str .advantages__description {
  @media (min-width: $dekstop-param) {
    padding-bottom: 18px;
  }
}

.advantages__wrapper {
  background-color: $gray-color;
  min-height: 168px;
  padding: 0 34px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: $tablet-param) {
    min-height: 256px;
    padding: 26px 33px 46px;
    justify-content: space-evenly;
  }

  @media (min-width: $dekstop-param) {
    padding: 0 50px;
  }
}

.advantages__wrapper--center {
  @media (min-width: $tablet-param) {
    padding: 33px 45px 33px;
  }

  @media (min-width: $dekstop-param) {
    padding: 0 50px;
  }
}

.advantages__wrapper--triangle {
  @media (max-width: $tablet-param) {
    position: relative;
    min-height: 211px;
    padding: 70px  18px 40px;
  }
}

.advantages__wrapper--triangle::after {
  @media (max-width: $tablet-param) {
    position: absolute;
    content: "";
    height: 37px;
    width: 100%;
    background-image: url("../img/triangle.svg");
    background-repeat: no-repeat;
    left: 0;
    top: 0;
  }
}

.advantages__image {
  display: block;
  cursor: pointer;

  @media (min-width: $tablet-param) {
    width: calc(100% / 3 * 2);
    height: 100%;
  }
}

.advantages__image img {
  display: block;
  width: 100%;

  @media (min-width: $tablet-param) {
    min-height: 256px;
    object-fit: cover;
  }
}

.advantages__item--all-str .advantages__title,
.advantages__item--all-str .advantages__number,
.advantages__item--all-str .advantages__description {
  color: $white-color;
}
