.catalog__text-wrapper {
  min-height: 188px;
  padding: 0 20px;
  position: relative;

  @media (min-width: $tablet-param) {
    margin: 0 auto;
    width: 458px;
    min-height: 247px;
    padding: 0;
  }
}

.catalog__text-wrapper::after {
  @media (max-width: $tablet-param) {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    bottom: 24px;
    left: 0;
    background-color: #e5e5e5;
  }
}

.catalog__wrapper {
  @media (min-width: $tablet-param) {
    padding: 0 60px;
  }

  @media (min-width: $dekstop-param) {
    padding: 0;
  }
}

.catalog__title {
  @include bold-text;
  margin: 0;
  padding-top: 37px;

  @media (min-width: $tablet-param) {
    font-size: 30px;
    line-height: 26px;
    padding-top: 66px;
  }

  @media (min-width: $dekstop-param) {
    padding-top: 97px;
  }
}

.catalog__description {
  @include normal-text;
  margin: 0;
  padding: 26px 0 60px;
  text-transform: uppercase;

  @media (min-width: $tablet-param) {
    padding: 33px 10px 66px;
  }

  @media (min-width: $dekstop-param) {
    padding: 33px 10px 88px;
  }
}

.catalog__list-card {
  @include reset-indents;

  @media (min-width: $tablet-param) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
  }

  @media (min-width: $dekstop-param) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.catalog__item-card {
  @include list-reset;
  position: relative;
  padding: 0 20px;

  @media (min-width: $tablet-param) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 0;
    padding: 0;
  }

  @media (min-width: $dekstop-param) {
    position: relative;
  }
}

.catalog__item-card::after {
  @media (max-width: $tablet-param) {
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    height: 1px;
    bottom: 24px;
    background-color: #e5e5e5;
  }
}
