.checkbox {
  margin: 0 auto;
}

.checkbox__list {
  @include reset-indents;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 36px;

  @media (max-width: 767px) {
    padding: 0 20px 34px;
    border-bottom: 1px solid #e5e5e5;
  }


  @media (min-width: $tablet-param) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    padding: 0 84px;
  }

  @media (min-width: $dekstop-param) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 45px;
  }
}

.checkbox__item {
  @include list-reset;
  position: relative;
  display: flex;
  justify-content: flex-start;
  padding-left: 62px;

  @media (min-width: $tablet-param) {
    padding-left: 62px;
  }
}


.checkbox__option {
  @include bold-text;
  text-transform: inherit;
}

.checkbox__label {
  cursor: pointer;
}


.checkbox__option::after {
  position: absolute;
  content: "";
  width: 46px;
  height: 46px;
  background-color: #f2f2f2;
  border-radius: 4px;
  left: 0;
  top: -10px;
}

.checkbox__input:checked + .checkbox__option::before {
  position: absolute;
  content: "";
  left: 12px;
  top: 5px;
  z-index: 2;
  width: 22px;
  height: 16px;
  background-image: url("../img/tick.svg");
}

.checkbox__input:focus + .checkbox__option::after {
  outline: 3px solid #83b3d3;
}

.checkbox__label:hover .checkbox__option::after {
  background-color: #e5e5e5;
}


.checkbox__label:active .checkbox__option::after {
  background-color: #d5d5d5;
}

.checkbox__label:active .checkbox__option::before {
  opacity: 30%;
}
