@import "../bootstrap.scss";


.feedback__wrap {
  @media (min-width: $tablet-param) {
    padding: 0 60px;
  }

  @media (min-width: $dekstop-param) {
    padding: 0 120px;
  }
}

.feedback__wrapper {
  @media (max-width: $tablet-param) {
    border-bottom: 1px solid #e5e5e5;
  }
}

.feedback__title {
  @include bold-text;
  padding: 36px 0 24px;
  margin: 0 auto;
  max-width: 88%;

  @media (min-width: $tablet-param) {
    font-size: 30px;
    line-height: 26px;
    padding: 63px 0 20px;
    max-width: 57%;
  }

  @media (min-width: $dekstop-param) {
    padding: 115px 0 31px;
  }
}

.feedback__description {
  @include normal-text;
  padding-bottom: 29px;
  text-transform: uppercase;
  max-width: 88%;
  margin: 0 auto;

  @media (min-width: $tablet-param) {
    padding-bottom: 108px;
    max-width: 57%;
  }

  @media (min-width: $dekstop-param) {
    padding-bottom: 68px;
  }
}
