@import "../bootstrap.scss";

.fieldset-radio {
  width: 100%;

  @media (min-width: $tablet-param) {
    position: relative;
  }
}

.fieldset-radio__title {
  @include bold-text;

  @media (max-width: $tablet-param) {
    padding-top: 24px;
  }
  padding-bottom: 30px;

  @media (min-width: $tablet-param) {
    padding-top: 63px;
    padding-bottom: 28px;
    font-size: 21px;
    line-height: 26px;
  }

  @media (min-width: $dekstop-param) {
    padding-top: 71px;
    padding-bottom: 45px;
  }
}

.fieldset-radio--line::after {
  @media (min-width: $tablet-param) {
    position: absolute;
    content: "";
    width: 123px;
    height: 1px;
    top: -41px;
    left: 0;
    background-color: #d8d8d8;
  }

  @media (min-width: $dekstop-param) {
    top: -55px;
  }
}

.fieldset-radio--line::before {
  @media (min-width: $tablet-param) {
    position: absolute;
    content: "";
    width: 123px;
    height: 1px;
    top: -41px;
    right: 0;
    background-color: #d8d8d8;
  }

  @media (min-width: $dekstop-param) {
    top: -55px;
  }
}

.fieldset-radio__list {
  @include reset-indents;
  display: flex;
  align-items: center;
  row-gap: 36px;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 280px;

  @media (max-width: $tablet-param) {
    padding-bottom: 34px;
  }

  @media (min-width: $tablet-param) {
    padding-left: 38px;
    flex-direction: row;
    min-height: 108px;
    width: 100%;
    margin: 0 auto;
  }

  @media (min-width: $dekstop-param) {
    padding: 0 53px;
    min-height: 80px;
  }
}

.fieldset-radio__item {
  @include list-reset;
  padding-left: 62px;
  display: flex;

  @media (min-width: $tablet-param) {
    width: 50%;
  }

  @media (min-width: $dekstop-param) {
    width: calc(100% / 3);
  }
}

.fieldset-radio__label {
  position: relative;
  padding: 10px 0;
  cursor: pointer;
}

.fieldset-radio__label:hover .fieldset-radio__element {
  background-color: #e5e5e5;
}

.fieldset-radio__label:active .fieldset-radio__element {
  background-color: #d5d5d5;
  opacity: 30%;
}

.fieldset-radio__element {
  @include bold-text;
  text-transform: inherit;
  position: absolute;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: #f2f2f2;
  top: -10px;
  left: -61px;
}

.fieldset-radio__input:checked + .fieldset-radio__element::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  top: 15px;
  left: 15px;
  background-color: #333333;
  border-radius: 50%;
}

.fieldset-radio__option {
  @include bold-text;
  text-transform: inherit;
}


.fieldset-radio__input:hover {
  :hover {
    background-color: #e5e5e5;
  }

  &:active {
    background-color: #ffffff;
    outline: 4px solid #e5e5e5;
    outline-offset: -4px;
  }
}
