@import "../bootstrap.scss";

.fieldset-name {
  position: relative;
}

.fieldset-name::before {
  @media (min-width: $tablet-param) {
    position: absolute;
    content: "";
    width: 1px;
    height: 338px;
    background-color: #d8d8d8;
    right: 24px;
  }
}

.fieldset-name__title {
  @include bold-text;

  @media (max-width: $tablet-param) {
    padding-top: 24px;
  }

  @media (min-width: $tablet-param) {
    font-size: 21px;
    line-height: 26px;
  }
}


.fieldset-name__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.fieldset-name__wrapper:last-child {
  @media (max-width: $tablet-param) {
    padding-bottom: 39px;
  }
}

.fieldset-name__label {
  @include normal-text;
  text-transform: uppercase;
  padding-top: 20px;
  padding-left: 16px;
  display: flex;

  @media (min-width: $tablet-param) {
    padding-top: 28px;
  }
}

.fieldset-name__input-text {
  @include bold-text;
  text-transform: capitalize;
  text-align: start;
  min-width: 280px;
  width: 100%;
  min-height: 58px;
  border: 0;
  background-color: #f2f2f2;
  padding: 0 16px;

  &:hover {
    background-color: #e5e5e5;
  }

  &:active {
    background-color: #ffffff;
    outline: 4px solid #e5e5e5;
    outline-offset: -4px;
  }
}

.fieldset-name__input-text::placeholder {
  @include bold-text;
  text-transform: capitalize;
  text-align: start;
}
