@import "../bootstrap.scss";

.fieldset-checkbox {
  width: 100%;
  min-height: 252px;

  @media (min-width: $tablet-param) {
    position: relative;
    min-height: 189px;
  }
}


.fieldset-checkbox--line::after {
  @media (min-width: $tablet-param) {
    position: absolute;
    content: "";
    width: 123px;
    height: 1px;
    top: -53px;
    left: 0;
    background-color: #d8d8d8;
  }

  @media (min-width: $dekstop-param) {
    top: -86px;
  }
}

.fieldset-checkbox::before {
  @media (min-width: $tablet-param) {
    position: absolute;
    content: "";
    width: 123px;
    height: 1px;
    top: -53px;
    right: 0;
    background-color: #d8d8d8;
  }

  @media (min-width: $dekstop-param) {
    top: -86px;
  }
}

.fieldset-checkbox__title {
  @include bold-text;
  padding-bottom: 30px;

  @media (max-width: $tablet-param) {
    padding-top: 24px;
  }

  @media (min-width: $tablet-param) {
    font-size: 21px;
    line-height: 26px;
    padding-top: 63px;
    padding-bottom: 28px;
  }

  @media (min-width: $dekstop-param) {
    padding-top: 73px;
    padding-bottom: 59px;
  }
}

.fieldset-checkbox__list {
  @include reset-indents;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 36px;
  margin: 0 auto;

  @media (max-width: $tablet-param) {
    padding-bottom: 34px;
  }

  @media (min-width: $tablet-param) {
    min-width: 480px;
    flex-direction: row;
  }

  @media (min-width: $dekstop-param) {
    width: 100%;
    padding: 0 45px;
  }
}

.fieldset-checkbox__item {
  @include list-reset;
  display: flex;
  justify-content: start;
  padding-left: 62px;

  @media (min-width: $tablet-param) {
    width: 50%;
  }

  @media (min-width: $dekstop-param) {
    width: 25%;
  }
}


.fieldset-checkbox__option {
  @include bold-text;
  text-transform: inherit;
}

.fieldset-checkbox__label {
  position: relative;
  cursor: pointer;
}

.fieldset-checkbox__element {
  position: absolute;
  width: 46px;
  height: 46px;
  background-color: #f2f2f2;
  border-radius: 4px;
  left: -61px;
  top: -15px;
}

.fieldset-checkbox__input:checked + .fieldset-checkbox__element::before {
  position: absolute;
  content: "";
  height: 4px;
  background-color: #333333;
  width: 22px;
  top: 20px;
  left: 19px;
  transform: rotate(-45deg);
  border-radius: 1px;
  background-repeat: no-repeat;
}

.fieldset-checkbox__input:checked + .fieldset-checkbox__element::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 4px;
  top: 25px;
  transform: rotate(45deg) translateX(-10.3px) translateY(8px);
  background-color: #333333;
  border-radius: 1px;
}


.fieldset-checkbox__label:hover .fieldset-checkbox__element {
  background-color: #e5e5e5;
}


.fieldset-checkbox__label:active .fieldset-checkbox__element {
  background-color: #d5d5d5;
  opacity: 30%;
}
