@import "../bootstrap.scss";

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.form__fieldset {
  @include reset-indents;
  width: 100%;
  border: 0;

  @media (max-width: $tablet-param) {
    border-bottom: 1px solid #e2e2e2;
    padding: 24px 20px 0;
  }

  @media (min-width: $tablet-param) {
    min-width: 295px;
    width: 50%;
    margin: 0 auto;
  }

  @media (min-width: $dekstop-param) {
    min-width: 430px;
  }
}

.form__fieldset:last-of-type {
  @media (max-width: $tablet-param) {
    border-bottom: none;
  }
}

.form__fieldset:first-child {
  @media (min-width: $tablet-param) {
    padding-right: 60px;
  }
}

.form__wrapper-button {
  width: 280px;
  padding-top: 56px;

  @media (min-width: $tablet-param) {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 48px;
  }
}

.form__button {
  @include button;
  min-width: 280px;
  min-height: 58px;
  padding: 0;

  @media (min-width: $tablet-param) {
    min-width: 324px;
  }

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background-color: #e5e5e5;
  }
}

.form__small-text {
  font-size: 12px;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.6);
  display: flex;
  justify-content: flex-end;

  @media (min-width: $tablet-param) {
    justify-content: center;
    align-items: center;
  }
}
