.hero {
  background-image: url("../../img/background-hero.jpg");
  background-color: #6d869b;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 389px;
  width: 100%;

  padding: 90px 0 85px;

  @media (min-width: $tablet-param) {
    @media (min-resolution: 2dppx) {
      background-image: url("../../img/background-hero@2x.jpg");
      background-size: 1200px auto;
    }
  }
}
