.hero {
  position: relative;
  background-image: url("../img/hero/background-hero-mobile.webp");
  background-color: #6d869b;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: top;
  min-height: 389px;
  width: 100%;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/hero/background-hero-mobile@2x.webp");
  }

  @media (min-width: $tablet-param) {
    background-image: url("../img/hero/background-hero-tablet.webp");


    @media (min-resolution: 2dppx) {
      background-image: url("../img/hero/background-hero-tablet@2x.webp");
      background-size: 100% 100%;
    }
  }

  @media (min-width: $tablet-param) {
    background-image: url("../img/hero/background-hero-dekstop.webp");


    @media (min-resolution: 2dppx) {
      background-image: url("../img/hero/background-hero-dekstop@2x.webp");
      background-size: 100% 100%;
    }
  }
}

.hero::after {
  position: absolute;
  content: "";
  width: inherit;
  height: 58px;
  background-size: cover;
  left: 0;
  bottom: 0;
  background-image: url("../img/hero-figure.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.hero__wrapper {
  padding: 90px 0 85px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  @media (min-width: $tablet-param) {
    padding: 77px 0 81px;
    min-height: 518px;
  }

  @media (min-width: $dekstop-param) {
    padding: 78px 0 90px;
  }
}

.hero--small {
  background-image: url("../img/hero/background-hero-small-mobile.webp");
  background-position: 0 100%;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/hero/background-hero-small-mobile@2x.webp");
  }

  min-height: 158px;
  width: 100%;
  padding: 52px 0 63px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (min-width: $tablet-param) {
    background-image: url("../img/hero/background-hero-small-tablet.webp");
    min-height: 290px;
    padding: 93px 0 117px;
    background-position: 0 100%;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/hero/background-hero-small-tablet@2x.webp");
    }
  }

  @media (min-width: $dekstop-param) {
    background-image: url("../img/hero/background-hero-small-dekstop.webp");
    min-height: 301px;
    padding: 101px 0 120px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/hero/background-hero-small-dekstop@2x.webp");
    }
  }
}

.hero svg {
  @media (min-width: $tablet-param) {
    width: 461px;
    height: 350px;
    margin: 0 auto;
    display: block;
  }
}

.hero--small svg {
  @media (min-width: $tablet-param) {
    width: 460px;
    height: 80px;
  }
}
