@import "../bootstrap.scss";

.item-card__title {
  margin: 0;
  padding-bottom: 12px;
  font-weight: 700;
  text-transform: uppercase;

  @media (min-width: $dekstop-param) {
    color: #ffffff;
  }
}

.item-card__wrapper {
  min-height: 120px;
  text-align: start;
  padding: 0 20px;

  @media (min-width: $tablet-param) {
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
  }

  @media (min-width: $dekstop-param) {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    color: #f2f2f2;
  }
}

.item-card__text-wrapper {
  padding: 15px 0 11px;

  @media (min-width: $tablet-param) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.item-card__likes {
  padding-bottom: 55px;

  @media (min-width: $tablet-param) {
    padding: 28px 0 31px;
  }
}


.item-card__likes svg {
  opacity: 0.3;
  cursor: pointer;

  @media (min-width: $dekstop-param) {
    color: #ffffff;
    opacity: 1;
  }
}

.item-card__author {
  @include normal-text;
  font-style: normal;

  @media (min-width: $tablet-param) {
    margin-right: auto;
  }

  @media (min-width: $dekstop-param) {
    color: #f2f2f2;
  }
}

.item-card--first {
  @media (min-width: $tablet-param) {
    grid-column: 1/3;
    min-width: 648px;
  }

  @media (min-width: $dekstop-param) {
    grid-column: 1/4;
  }
}

.item-card__photo {
  @media (min-width: $tablet-param) {
    min-width: 324px;
  }
}

.item-card__photo img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item-card__count {
  font-weight: 700;

  @media (min-width: $tablet-param) {
    margin-left: 9px;
  }
}
