.item-card__title {
  margin: 0;
  padding-bottom: 1px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;

  @media (min-width: $dekstop-param) {
    color: #ffffff;
  }
}

.item-card__wrapper {
  min-height: 120px;
  text-align: start;

  @media (min-width: $tablet-param) {
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
  }

  @media (min-width: $dekstop-param) {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    color: #f2f2f2;
  }
}

.item-card__text-wrapper {
  padding: 15px 0 11px 0;

  @media (min-width: $tablet-param) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 0 11px 20px;
  }

  @media (min-width: $dekstop-param) {
    padding: 15px 0 11px 24px;
  }
}

.item-card__likes {
  padding-bottom: 50px;

  @media (min-width: $tablet-param) {
    padding: 23px 19px 24px 0;
  }
}

.item-card__likes svg {
  opacity: 0.3;
  color: #000000;
  cursor: pointer;

  @media (min-width: $dekstop-param) {
    color: #ffffff;
    opacity: 1;
  }
}

.item-card__like {
  text-decoration: none;
}

.item-card__author {
  @include normal-text;
  font-style: normal;

  @media (min-width: $tablet-param) {
    margin-right: auto;
  }

  @media (min-width: $dekstop-param) {
    color: #f2f2f2;
  }
}

.item-card--all-width {
  @media (min-width: $tablet-param) {
    grid-column: 1/-1;
    width: 100%;
  }

  @media (min-width: $dekstop-param) {
    grid-column: 1/-1;
  }
}

.item-card__photo {
  @media (max-width: $tablet-param) {
    height: 280px;
  }
  width: 100%;
}

.item-card__photo img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item-card__count {
  font-weight: 700;
  padding-left: 10px;

  @media (min-width: $tablet-param) {
    padding-left: 6px;
  }
}
