@import "../bootstrap.scss";

.item-card__title {
  font-weight: 700;
  text-transform: uppercase;
}

.item-card__wrapper {
  text-align: start;
  padding: 0 20px;
}

.item-card__author {
  @include normal-text;
  font-style: normal;
}

.item-card__count {
  font-weight: 700;
}

@media (min-width: $tablet-param) {
  .item-card__first {
    grid-column: 1/3;
    min-width: 648px;
  }

  .item-card__wrapper {
    display: flex;
    // flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #f2f2f2;
  }

  .item-card__text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 22px 0 15px;
  }

  .item-card__title {
    margin: 0 0 15px;
  }

  .item-card__count {
    margin-left: 9px;
  }

  .item-card__author {
    margin-right: auto;
  }

  .item-card__photo {
    min-width: 324px;
  }
}
