.main-nav {
  @include bold-text;
  width: 100%;
  position: relative;

  @media (min-width: $tablet-param) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}

.main-nav__toggle {
  position: absolute;
  right: 0;
  width: 68px;
  height: 56px;
  z-index: 2;
  padding: 0;
  display: block;
  background-color: transparent;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet-param) {
    display: none;
  }
}

.main-nav--opened {
  @media (max-width: 767px) {
    z-index: 3;
    position: absolute;
    top: 0;
  }
}

.main-nav--opened .main-nav__toggle {
  top: 0;
  opacity: 1;

  &:active {
    opacity: 30%;
  }

  &:hover {
    opacity: 60%;
  }
}

.main-nav--closed .main-nav__toggle {
  top: -29px;
  opacity: 1;

  &:hover {
    opacity: 60%;
  }

  &:active {
    opacity: 30%;
  }
}

.main-nav--opened .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 22px;
  background-color: #ffffff;
  top: 25px;
  right: 21px;
}

.main-nav--opened .main-nav__toggle::before {
  transform: rotate(45deg);
}

.main-nav--opened .main-nav__toggle::after {
  transform: rotate(-45deg);
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 17px;
  right: 20px;
  width: 23px;
  height: 22px;
  z-index: 2;
  background-image: url("../img/icon-menu.svg");
  background-repeat: no-repeat;
}

.main-nav--closed .main-nav__list {
  @media (max-width: $tablet-param) {
    display: none;
  }
}

.main-nav__list {
  @include reset-indents;
  position: relative;
  min-height: 56px;

  @media (min-width: $tablet-param) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}

.main-nav__item {
  @include list-reset;
  background-color: $blue-color;
  min-height: 55px;


  @media (min-width: $tablet-param) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    width: 20%;
    height: 100%;
  }
}

.main-nav__link {
  color: $white-color;
  text-decoration: none;
  display: block;
  width: 100%;

  @media (max-width: $tablet-param) {
    &:hover {
      background-color: #669ec0;
    }
  }

  @media (min-width: $tablet-param) {
    @include normal-text;
    text-transform: uppercase;
    font-weight: 700;
    color: #000000;
    padding: 7px 0;

    &:hover {
      color: #81b3d2;
    }

    &:active {
      opacity: 30%;
    }

    &--active {
      color: #766357;
      pointer-events: none;
    }
  }
}

.main-nav--opened .main-nav__item {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  width: 100%;
}

.main-nav--opened .main-nav__link {
  @media (max-width: $tablet-param) {
    padding: 15px 50px;

    &:hover {
      background-color: #669ec0;
    }

    &:active {
      opacity: 0.3;
      background-color: #5496bd;
    }
  }
}

.main-nav--opened .main-nav__item:not(:last-child) {
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);
}

.main-nav--opened .main-nav__item::after {
  @media (min-width: $mobile-param) {
    content: "";
    position: absolute;
    width: 100%;
    height: 7px;
    left: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.04) 100%);
  }
}

.main-nav--nojs {
  @media (max-width: $tablet-param) {
    z-index: 3;
    position: absolute;
    top: 0;

    .main-nav__toggle {
      display: none;
    }

    .main-nav__list {
      display: block;
      position: static;
    }

    .main-nav__item {
      border-top: 1px solid rgba(255, 255, 255, 0.2);
      width: 100%;
      padding: 14px;
    }

    .main-nav__item:not(:last-child) {
      border-bottom: 1px solid rgba(1, 1, 1, 0.2);
    }
  }
}

.main-nav__item:nth-child(4n + 3) {
  @media (min-width: $tablet-param) {
    margin-left: 20%;
  }
}
