@import "../bootstrap.scss";

.main-nav {
  @include bold-text;
}

.main-nav__list {
  @include reset-indents;
}

.main-nav__item {
  @include list-reset;
  background-color: $blue-color;
}

.main-nav__link {
  color: $white-color;
  text-decoration: none;
}

