@import "../bootstrap.scss";

.modal__wrapper {
  padding: 45px 42px 35px;
}

.modal__title {
  @include bold-text;
}

.modal__description {
  @include normal-text;
  text-transform: uppercase;
}

.modal__wrapper-btn {
  height: 98px;
  background-color: #f2f2f2;
}

@media (min-width: $tablet-param) {
  .modal__wrapper {
    min-width: 320px;
    min-height: 280px;
  }

  .modal__title {
    font-size: 30px;
    line-height: 40px;
    margin: 0;
    margin-bottom: 10px;
  }

  .modal__description {
    margin: 0;
    font-size: 21px;
    line-height: 26px;
  }

  .modal__text-wrapper {
    padding: 50px 47px 25px 47px;
    min-width: 307px;
  }

  .modal__button {
    margin-bottom: 35px;
    min-width: 272px;
    height: 58px;
  }

  .modal__wrapper-btn {
    padding-top: 50px;
    min-height: 146px;
  }
}
