.radio {
  @include reset-indents;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 36px;
  flex-wrap: wrap;
  margin: 0 auto;

  @media (max-width: $tablet-param) {
    padding-bottom: 34px;
  }

  @media (min-width: $tablet-param) {
    padding-left: 38px;
    flex-direction: row;
    min-height: 108px;
    width: 100%;
    row-gap: 20px;
    margin: 0 auto;
  }

  @media (min-width: $dekstop-param) {
    padding: 0 53px;
    min-height: 80px;
    justify-content: space-between;
  }
}

.radio__item {
  @include list-reset;
  padding: 0 20px 0 82px;
  display: flex;

  @media (min-width: $tablet-param) {
    width: 50%;
    padding: 0 20px 0 59px;
  }

  @media (min-width: $dekstop-param) {
    width: 29%;
    padding: 0 0 0 59px;
  }
}

.radio__label {
  position: relative;
  cursor: pointer;
}

.radio__option {
  @include bold-text;
  text-transform: inherit;
  padding: 10px 0;
}

.radio__option::after {
  content: "";
  position: absolute;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: #f2f2f2;
  top: -10px;
  left: -61px;
}

.radio__label:hover .radio__option::after {
  background-color: #e5e5e5;
}

.radio__label:active .radio__option::after {
  background-color: #d5d5d5;
}

.radio__label:active .radio__option::before {
  opacity: 30%;
}

.radio__input:checked + .radio__option::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  top: 6px;
  left: -45px;
  z-index: 2;
  background-color: #333333;
  border-radius: 50%;
}

.radio__input {
  &:hover {
    background-color: #e5e5e5;
  }

  &:active {
    background-color: #ffffff;
    outline: 4px solid #e5e5e5;
    outline-offset: -4px;
  }
}
