@import "../bootstrap.scss";

.reasons-list {
  @include reset-indents;
  // padding: 23px 18px 46px;
}

.reasons__item {
  @include list-reset;
}

.reasons__title {
  @include bold-text;
}

.reasons__description {
  @include normal-text;
  text-transform: uppercase;
}

@media (min-width: $tablet-param) {
  .reasons {
    @include list-reset;
  }

  .reasons-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .reasons__item {
    justify-content: center;
    width: 33%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;

    min-width: 256px;
    min-height: 330px;
  }

  .reasons__wrapper {
    margin: 0 auto;
    width: 190px;
  }
}
