@import "../bootstrap.scss";

.wrapper__label {
  @include normal-text;
  text-transform: uppercase;
  padding-top: 16px;
  padding-left: 16px;
  display: flex;
}

.wrapper__input-text,
.wrapper__input-number,
.wrapper__input-email {
  min-width: 280px;
  width: 100%;
  min-height: 58px;
  border: 0;
  background-color: #f2f2f2;
}

.wrapper__input-text::placeholder {
  @include bold-text;
  text-transform: capitalize;
}

.wrapper__input-number::placeholder,
.wrapper__input-email::placeholder {
  @include bold-text;
  text-transform: initial;
  color: rgba(0, 0, 0, 0.3);
}
