// Начните писать стили здесь
@import "./base.scss";
@import "./bootstrap.scss";
@import "./blocks/advantages.scss";
@import "./blocks/catalog.scss";
@import "./blocks/copyright.scss";
@import "./blocks/feedback.scss";
@import "./blocks/form.scss";
@import "./blocks/hero.scss";
@import "./blocks/item-card.scss";
@import "./blocks/main-footer.scss";
@import "./blocks/main-header.scss";
@import "./blocks/main-nav.scss";
@import "./blocks/modal.scss";
@import "./blocks/page.scss";
@import "./blocks/field-text.scss";
@import "./blocks/fieldset.scss";
@import "./blocks/fieldset-contacts.scss";
@import "./blocks/checkbox.scss";
@import "./blocks/radio.scss";
@import "./blocks/textarea.scss";
@import "./blocks/search-hotel.scss";
@import "./blocks/sedona-map.scss";
@import "./blocks/social.scss";
@import "./blocks/video-player.scss";
@import "./blocks/item-reasons.scss";
@import "./mixins.scss";
@import "./utils.scss";
@import "./variables.scss";
@import "./fonts.scss";
@import "./blocks/container.scss"
