// Начните писать стили здесь

@import "./blocks/advantages.scss";
@import "./blocks/button.scss";
@import "./blocks/catalog.scss";
@import "./blocks/copyright.scss";
@import "./blocks/feedback.scss";
@import "./blocks/form.scss";
@import "./blocks/hero.scss";
@import "./blocks/hero-another.scss";
@import "./blocks/item-card.scss";
@import "./blocks/main-container.scss";
@import "./blocks/main-footer.scss";
@import "./blocks/main-header.scss";
@import "./blocks/main-nav.scss";
@import "./blocks/modal.scss";
@import "./blocks/page.scss";
@import "./blocks/search-hotel.scss";
@import "./blocks/sedona-map.scss";
@import "./blocks/social.scss";
@import "./blocks/video-prs.scss";
@import "./blocks/reasons.scss";
@import "./mixins.scss";
@import "./utils.scss";
@import "./variables.scss";
@import "./fonts.scss";
@import "./base.scss";
@import "./blocks/container.scss"
